<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <link rel="stylesheet" href="./css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        title Лендос за 4 часа с перерывами
    body
        .page
            .page__header
                .container
                    .page-header
                        .page-header__menu
                            ul.page-nav
                                li.page-nav__item
                                    a.page-nav__link(href="") Главная
                                li.page-nav__item
                                    a.page-nav__link(href="") цены
                                li.page-nav__item
                                    a.page-nav__link(href="") возможности
                                li.page-nav__item
                                    a.page-nav__link(href="") заказать
                                li.page-nav__item
                                    a.page-nav__link(href="") оплата
                                li.page-nav__item
                                    a.page-nav__link(href="") доставка
                        .page-header__soc
                            .social
                                .social__item
                                    a.social__link(href="") f
                                .social__item
                                    a.social__link(href="") vk
                                .social__item
                                    a.social__link(href="") G+

            .page__section.page__section_bg-image.page__section_pad-t_150
                .container            
                    .preview
                        .preview__descr
                            .preview-descr
                                .preview-descr__title
                                    span.preview-title Смартфон
                                    span.preview-title.preview-title_c_cream Huawei Mate 10
                                p.preview-descr__info 8 ядерный процессор Kirin 659 с тактовой частотой 2.36 ГГц и технологией 16 нм, оперативная память 4 ГБ и встроенная память 64 ГБ обеспечивает молниеносное выполнение задач в Huawei mate 10 Lite.
                                p.preview-descr__info Топ продаж 2018 года!
                                .preview-descr__specprice Специальная цена только сегодня!
                                .preview-descr__price
                                    span.preview-cost.preview-cost_lined 30.780 руб
                                    span.preview-cost.preview-cost_c_cream 26990 руб. 
                                .preview-descr__button
                                    span.btn.btn_c_fff Купить
                        .preview__picture
                            img.preview-picture(src="./img/content/tel.png", alt="pic1")

            .page__section.page__section_bg_white
                .container
                    .text
                        .text__title Оригинальный Huawei Mate 10 только у нас!          
                    .grid
                        .grid__item
                            .grid-item
                                .grid-item__icon-box
                                    img.icon(src="./img/content/icon1.png", alt="")
                                .grid-item__title Цвет
                                .grid-item__descr Выберите свой любимый цвет: серый космос, серебристый
                                .grid-item__background
                                    img.icon-bg(src="./img/content/icon11.png", alt="")
                        .grid__item
                            .grid-item
                                .grid-item__icon-box
                                    img.icon(src="./img/content/icon2.png", alt="")
                                .grid-item__title Цвет
                                .grid-item__descr Выберите свой любимый цвет: серый космос, серебристый
                                .grid-item__background
                                    img.icon-bg(src="./img/content/icon22.png", alt="")
                        .grid__item
                            .grid-item
                                .grid-item__icon-box
                                    img.icon(src="./img/content/icon3.png", alt="")
                                .grid-item__title Цвет
                                .grid-item__descr Выберите свой любимый цвет: серый космос, серебристый
                                .grid-item__background
                                    img.icon-bg(src="./img/content/icon33.png", alt="")
                        .grid__item
                            .grid-item
                                .grid-item__icon-box
                                    img.icon(src="./img/content/icon4.png", alt="")
                                .grid-item__title Цвет
                                .grid-item__descr Выберите свой любимый цвет: серый космос, серебристый
                                .grid-item__background
                                    img.icon-bg(src="./img/content/icon44.png", alt="")
                        .grid__item
                            .grid-item
                                .grid-item__icon-box
                                    img.icon(src="./img/content/icon5.png", alt="")
                                .grid-item__title Цвет
                                .grid-item__descr Выберите свой любимый цвет: серый космос, серебристый
                                .grid-item__background
                                    img.icon-bg(src="./img/content/icon55.png", alt="")
                        .grid__item
                            .grid-item
                                .grid-item__icon-box
                                    img.icon(src="./img/content/icon6.png", alt="")
                                .grid-item__title Цвет
                                .grid-item__descr Выберите свой любимый цвет: серый космос, серебристый
                                .grid-item__background
                                    img.icon-bg(src="./img/content/icon66.png", alt="")
                        .grid__item
                            .grid-item
                                .grid-item__icon-box
                                    img.icon(src="./img/content/icon7.png", alt="")
                                .grid-item__title Цвет
                                .grid-item__descr Выберите свой любимый цвет: серый космос, серебристый
                                .grid-item__background
                                    img.icon-bg(src="./img/content/icon77.png", alt="")
                        .grid__item
                            .grid-item
                                .grid-item__icon-box
                                    img.icon(src="./img/content/icon8.png", alt="")
                                .grid-item__title Цвет
                                .grid-item__descr Выберите свой любимый цвет: серый космос, серебристый
                                .grid-item__background
                                    img.icon-bg(src="./img/content/icon88.png", alt="") 
                                    
            .page__section.page__section_bg-grey
                .container            
                    .preview
                        .preview__picture
                            img.order-picture(src="./img/content/tel2.png", alt="pic2")
                        .preview__descr.preview__descr_m-l_100
                            .preview-descr.preview-descr_c_000
                                .preview-descr__title Краткий обзор
                                .preview-descr__stats
                                    ul.stats
                                        li.stats__item
                                            p.stats__title Размеры:
                                            p.stats__info 77.8 x 150.5 x 8.2 мм, Вес: 186 г
                                        li.stats__item
                                            p.stats__title Процессор:
                                            p.stats__info 4х 2.36 GHz ARM Cortex-A73, 4x 1.84 GHz ARM Cortex-A53
                                        li.stats__item
                                            p.stats__title Графический процессор:
                                            p.stats__info ARM Mali-G72 MP12
                                        li.stats__item
                                            p.stats__title Оперативная память:
                                            p.stats__info 4 ГБ, 1833 МГц
                                        li.stats__item
                                            p.stats__title Встроенная память:
                                            p.stats__info 64 ГБ
                                        li.stats__item
                                            p.stats__title Экран:
                                            p.stats__info 5.9 in, IPS, 1440 x 2560 пикселей, 24 бит
                                        li.stats__item
                                            p.stats__title Аккумулятор:
                                            p.stats__info 4000 МАч, Li-polymer (Литий-полимерный)
                                        li.stats__item
                                            p.stats__title Операционная система:
                                            p.stats__info Android 8.0 Oreo
                            .preview-descr__button
                                    span.btn.btn_c_000 Купить

            .page__section.page__section_bg-dark
                .container
                    .text   
                        .text__title Как происходит процесс покупки
                    .grid
                        .grid__item-buy
                            .grid-item-buy
                                .grid-item-buy__icon-box
                                    img.icon(src="./img/content/bucket.png", alt="")
                                .grid-item-buy__descr Вы заказываете Huawei Mate 10
                        .grid__arrow
                            img.arrow(src="./img/content/arrow.png", alt="ar1")
                        .grid__item-buy
                            .grid-item-buy
                                .grid-item-buy__icon-box
                                    img.icon(src="./img/content/bucket.png", alt="")
                                .grid-item-buy__descr Мы связываемся с вами по телефону
                        .grid__arrow
                            img.arrow(src="./img/content/arrow.png", alt="ar1")
                        .grid__item-buy
                            .grid-item-buy
                                .grid-item-buy__icon-box
                                    img.icon(src="./img/content/bucket.png", alt="")
                                .grid-item-buy__descr К вам приезжает курьер
                        .grid__arrow
                            img.arrow(src="./img/content/arrow.png", alt="ar1")
                        .grid__item-buy
                            .grid-item-buy
                                .grid-item-buy__icon-box
                                    img.icon(src="./img/content/bucket.png", alt="")
                                .grid-item-buy__descr Вы проверяете, оплачиваете и получаете смартфон
                    .section-button
                        span.btn.btn_c_fff Заказать сейчас

            .page__section.page__section_bg-phones.page__section_pad-b_150
                .container
                    .text
                        .text__title Оформить заказ на Huawei Mate 10
                    .preview
                        .preview__picture
                            .makeorder-picture
                                img.makeorder-picture__img(src="./img/content/tel3.png", alt="pic2")
                            .preview-descr__price.preview-descr__price_c_000
                                span.preview-cost.preview-cost_lined 30.780 руб
                                span.preview-cost.preview-cost_c_cream 26990 руб.
                        .preview__descr
                            .preview-descr
                                .preview-descr__title 
                                    .text
                                        .title.title_c_000 Выберите цвет
                                    form.makeorder(action="post")
                                        .blocks-holder
                                            .colored-block.colored-block_c_000
                                                input.makeorder__item.makeorder__item_c_000(type="button", value="") 
                                            .colored-block.colored-block_c_blue
                                                input.makeorder__item.makeorder__item_c_brown(type="button", value="")
                                            .colored-block.colored-block_c_brown
                                                input.makeorder__item.makeorder__item_c_blue(type="button", value="")
                                            .colored-block.colored-block_c_cream
                                                input.makeorder__item.makeorder__item_c_cream(type="button", value="")
                                            .colored-block.colored-block_c_begie
                                                input.makeorder__item.makeorder__item_c_begie(type="button", value="")        
                                        .makeorder__info
                                            ul.stats
                                                li.stats__item
                                                    p.stats__info Huawei Mate 10
                                                li.stats__item
                                                    p.stats__info Кабель Lightning / USB
                                                li.stats__item
                                                    p.stats__info Адаптер питания USB мощностью 5 ВТ
                                        .makeorder__costumer-data
                                            input.makeorder__item-text(type="text", placeholder="Ваше имя") 
                                            input.makeorder__item-text(type="text", placeholder="Ваш номер телефона")
                                        .makeorder__submit
                                            input.btn.btn_c_blue.btn_w_wide(type="submit", value="Заказать сейчас")
            .page__footer
                .container
                    .page-footer
                        .page-footer__info 
                            .footer-info 2019 / никакие права не защищены
                        .page-footer__info 
                            .footer-info 8-800-555-35-35
                        .page-footer__soc
                            .social
                                .social__item
                                    a.social__link(href="") f
                                .social__item
                                    a.social__link(href="") vk
                                .social__item
                                    a.social__link(href="") G+
                                        